.member-display {
  margin: var(--margin-xxl) var(--margin-xxxl) var(--margin-xxl);
}

.member-position {
  margin: var(--margin-xxl) var(--margin-s) var(--margin-xs);
  font-size: clamp(1.8rem, 4vw, 3rem);
}

.carousel {
  margin: 0;
  position: relative;
}

.carousel:hover {
  cursor: grab;
}

.swiper-pagination-bullet {
  background: #ffffff;
  opacity: 0.5;
  margin: 0 5px !important;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}
