.member-card {
  padding: 0 var(--margin-xl) var(--margin-xxl);
}

.member-img {
  border-radius: 2rem;
  border: 0.35rem solid #420e54;
  max-width: 100%;
  height: auto;
}

.member-name {
  margin: 0 0 var(--margin-xs);
  font-size: clamp(1.5rem, 3vw, 1.9rem);
}
