.member-card {
    padding: 0 var(--margin-xl) var(--margin-xxl);
}

.member-img {
    border-radius: 2rem;
    border: 0.5rem solid #420e54;
    max-width: 100%;
    height: auto;
    
}

.member-name {
    margin: var(--margin-xs) 0;
    font-size: 1.5rem;
}